#splash {
    visibility: hidden;
    animation-name: splash;
    /* delay until right side is done sliding */
    animation-delay: 4s;
    animation-duration: 2s;
    margin: 0 auto;
    width: 80%;
}

@keyframes splash {
    from { opacity: 0; }
    to { opacity: 1; visibility: visible;}
}

#splash p {
    color: #fff;
    margin: 0 0 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-button {
    background-color: black;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 2%;
    width: 40%;
}

.nav-button:nth-child(2) {
    margin: 0 4%;
}