#app {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25); /* darken background */
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.info-box {
  font-size: 1.25vw;
  font-weight: 550;
  height: 85%;
  margin-bottom: 3%;
}

#left-side {
  align-items: center;
  display: flex;
  width: 30%;
}

#right-side {
  animation-name: right-side;
  animation-delay: 4s;
  animation-duration: 4s;
  overflow: hidden;
  width: 70%;
  
}

#content-container {
  align-items: center;
  animation-name: content-container;
  animation-duration: 4s;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  height: 100%;
  width: 100%;
}

#content {
  align-items: center;
  animation-duration: 4s;
  animation-name: right-slide;;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

@keyframes content-container {
  from {
    margin-left: 100%;
    width: 100%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
}

span {
  color: #fff;
  font-size: 1.5vw;
}

#splash {
  animation-name: splash;
  /* delay until right side is done sliding */
  animation-delay: 4s;
  animation-duration: 2s;
  height: 80%;
  margin: 0 auto;
  width: 80%;
  visibility: hidden;
}

#splash p {
  color: #fff;
  margin: 0 0 2%;
}

@keyframes splash {
  from { opacity: 0; }
  to { opacity: 1; visibility: visible;}
}
