body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    line-height: 1.5em;
}

main {
    background-image: url("./mountain_background.jpg");
    height: 100%;
}

h1 {
    color: #fff;
    font-size: 2vw;
}

button {
    outline: none;
}

i {
    cursor: pointer;
}