.background-info {
    font-weight: bold;
}

.logo {
    height: 20px;
    width: 20px;
}

.content-box {
    animation-name: text;
    animation-duration: 2s;
}

@keyframes text {
    from { opacity: 0 };
    to { opacity: 1 };
}

@media screen and (min-width: 1100px) {
    
    .background-info {
        align-items: center;
        display: flex;
        font-size: 2vw;
        margin: 3% 0;
    }
    
    .logo {
        height: 6%;
        margin: 0 1%;
        width: 6%;
    }
}

