#app {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25); /* darken background */
  height: 100%;
}

#left-side {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 30%;
}

#right-side {
  overflow: hidden;
  height: 100%;
  width: 70%;
}

#content {
  animation-duration: 4s;
  animation-name: right-slide;
  background-color: black;
  backdrop-filter: blur(8px);
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

@keyframes right-slide {
  from {
    margin-left: 100%;
    width: 100%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
}