#email a {
    color: #fff;
    margin-left: 2%;
    text-decoration: none;
}

#email a:hover {
    color: #228B22;
}

#external-links {
    display: flex;
    font-size: 4vw;
    justify-content: space-between;
    margin: 5% auto;
    width: 60%;
}

header {
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
}

header > p {
    margin: 0 auto;
    margin-top: 5%;
}


#headshot {
    width: 60%;
    height: 60%;
}

#pic {
    display: flex;
    justify-content: center;
}