
#slideshow {
    position: relative;
}

#circle-container {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0 0.5%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.info {
    width: 100%;
}


.info-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    height: 70%;
    width: 80%;
}

.info-dropdown {
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    top: 1%;
    right: 1%;
    padding: 0 1%;
    position: absolute;
    text-align: center;
}


.info-modal {
    background-color: rgba(0,0,0,0.5);
    display: none;
    top: 0;
    height: 98.3%;
    width: 100%;
    position: absolute;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.work-slide {
    position: relative;
}

.title, .work-links {
    text-align: center;
}

.work-image {
    width: 100%;
}


