#slideshow-container {
    border-radius: 4px;
}

#slideshow {
    position: relative;
}

#circle-container {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0 0.5%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.exit {
    color: #fff;
    font-size: 2vw;
    margin: 0 auto 2%;
    padding-top: 1%;
    text-align: right;
    width: 97%;
} 

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.info {
    width: 100%;
}

.info-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
}

#info-button {
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1vw;
    font-weight: bold;
    top: 1%;
    right: 1%;
    padding: 0 1%;
    position: absolute;
    text-align: center;
    transition: background-color 0.6s ease;
}


#info-modal {
    background-color: rgba(0,0,0,0.5);
    top: 0;
    width: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
}

/* slide up and down feature */
.appear {
    animation-name: dropdown;
    animation-duration: 1s;
    overflow: hidden;
    height: 98.3%;
}

@keyframes dropdown {
    from { height: 0% };
    to { height: 98.3% };
}

.disappear {
    animation-name: dropup;
    animation-duration: 1s;
    height: 0;
    overflow: hidden;
}

@keyframes dropup {
    from { height: 98.3% };
    to { height: 0 };
}
/*  */


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover, #info-button:hover {
    background-color: rgba(0,0,0,0.8);
}

.work-slide {
    position: relative;
}

.title, .work-links {
    text-align: center;
}

.work-image {
    width: 100%;
}


